<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="testmybatis.respository.UserMapper">
    <select id="findAll" resultType="testmybatis.model.User">
        SELECT user.id AS id, user.user_name AS userName
        FROM test.user
    </select>
</mapper>